
body{
    margin: 0px;
}

ul{
    list-style: none ;
    padding: 0px;/*el padding se deja en cero ya que la listas UL tienen un padding un margin por defecto asi como otros estilos*/
    margin: 0px;
}
.barraNavegacion{
    display: flex; /*el tipo de display indica cuanto espacio ocupara a palabra, en block ocupa todo el espacion de lado a lado y el flex solo lo que ocupe la palabra*/
    justify-content: space-between; /*da un espacion entre cada palabra de la lista*/
    padding: 10PX;

}
.mainButton{
    background-color: green;
    color: aliceblue;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px; /*es la curva del borde*/
    font-weight: bolder; /*es como una negrilla*/
    box-shadow: 2px 2px black; /*Sombra del boton*/
    
}

.mainButton:hover{
    cursor: pointer; /*Para que salga la manito cuando se pasa por el boton*/
    transform: scale(1.2); /*aumenta el tamaño del boton al pasar por encima*/
    box-shadow: 3px 3px black; /*Sombra del boton*/
}

.secundaryButtom{
    background-color: rgb(37, 178, 202);
    color: aliceblue;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px; /*es la curva del borde*/
    font-weight: bolder; /*es como una negrilla*/
    box-shadow: 2px 2px black; /*Sombra del boton*/
    
}

.secundaryButtom:hover{
    cursor: pointer; /*Para que salga la manito cuando se pasa por el boton*/
    transform: scale(1.2); /*aumenta el tamaño del boton al pasar por encima*/
    box-shadow: 3px 3px black; /*Sombra del boton*/
}