
body{
    margin: 0px;
}

ul{
    list-style: none ;
    padding: 0px;/*el padding se deja en cero ya que la listas UL tienen un padding un margin por defecto asi como otros estilos*/
    margin: 0px;
}

.barraNavegacion{
    display: flex; /*el tipo de display indica cuanto espacio ocupara a palabra, en block ocupa todo el espacion de lado a lado y el flex solo lo que ocupe la palabra*/
    justify-content: space-between; /*da un espacion entre cada palabra de la lista*/
    padding: 10PX;
    background-color: rgba(226, 250, 12, 0.905);
    border-bottom: 1px solid rgb(216, 14, 14); /*borde para que parezca noton*/
    box-shadow: 1px 1px rgb(12, 5, 5);/*sombra*/
}

.barraNavegacion > li{
    display: flex; /*este display se usa para los componentes dentro del navbar y sirve para usar el atributo de la siguiente linea para centrarlos*/
    align-items: center;
}

.logo{
    height: 70px;
}

.button{
    border: 0px;
    padding: 8px 10px;
    border-radius: 10px; /*es la curva del borde*/
    font-weight: bolder; /*es como una negrilla*/    
}

.button:hover{
    cursor: pointer; /*Para que salga la manito cuando se pasa por el boton*/
    transform: scale(1.2); /*aumenta el tamaño del boton al pasar por encima*/
}

.mainButton{
    background-color: green;
    color: aliceblue;
    box-shadow: 2px 2px black; /*Sombra del boton*/
    
}

.mainButton:hover{
    box-shadow: 3px 3px black; /*Sombra del boton*/
}

.secundaryButtom{
    background-color: rgb(37, 178, 202);
    color: aliceblue;
    box-shadow: 2px 2px black; /*Sombra del boton*/
    
}

.secundaryButtom:hover{
    box-shadow: 3px 3px black; /*Sombra del boton*/
}


.buscar{ /*esta clase es para el div que contiene al input y al logo, asi podemos darle un borde que los englobe a ambos*/
    background-color: white;
    border: 1px solid gray; /*Este es el borde que los engloba debe especificar solid*/
    padding: 4px;
    border-radius: 8px;/*redondea las puntas de los bordes*/
    width: 300px;
    display:flex ;
    justify-content: space-between;
}
.buscar:focus-within{  /*esta pseudoClase se usa para dar color apenas enfoquemos el cursor dentro del componente*/
    border: 3px solid rgb(30, 157, 62);
    
}
.buscar > input{  /**/
    outline: none;
    border: 0px;
}

.iconobusqueda:hover{
    color: rgb(39, 201, 24);
}

.breedCardContainer{
    display: flex;
}

.breedCard{
    margin: 10px;
    background-color: rgba(15, 15, 15, 0.905);/*color fondo li*/
    box-shadow: 5px 10px 8px; /*sombra card !genial¡*/
    border-top-right-radius: 10px; /*Colocando bordes en la parte de arriba de la imagen*/
    border-top-left-radius: 10px;
}


.breedTitle{  /*Clase para el span del titulo de cada card*/
    color: white;
    margin: 10px;
    font-weight: bold;
    font-size: x-large;
}

.contenedorImagenes{
    width: 240px;
    height: 350px;
    display: flex;
    margin-bottom: 10px;
 
}

.contenedorImagenes:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.contenedorImagenes > img{  /*El object-fit sirve para darle el formato a nuestras imagnes y solo funciona si la clase padre tiene un display flex*/
    object-fit: cover;
    width: 100%; /*con esto hacemos que las imagenes sean iguales y varien los tamaños*/ 
    border-top-right-radius: 10px; /*Colocando bordes en la parte de arriba de la imagen*/
    border-top-left-radius: 10px;
}


.backgroundRojo{
    background-color: red;
}